<div class="jumbotron text-center">
  <p><h1 >Discogs Pullsheet</h1></p>
  <p>View order numbers, items and item locations all in one place. Log into your Discogs account to begin.</p>
  <p><a class="btn btn-success" href="{{host}}authorize">Log In</a></p>
</div>
